@model ComplaintManagement.Util.Models.UserManagement.AssociateDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Manage Associates";
    Layout = "_Layout";
}

<h3>Edit Associate</h3>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="AssociateId" />

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="AssociateName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Name 2</label>
        <input asp-for="AssociateName2" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Name 3</label>
        <input asp-for="AssociateName3" class="form-control" />
    </div>

    <div class="form-check mb-3">
        <input asp-for="Availability" class="form-check-input" />
        <label class="form-check-label">Available</label>
    </div>

    @* <div class="mb-3">
        <label>Alternate Associate</label>
        <input asp-for="AlternateAssociate" class="form-control" />
    </div> *@
    <div id="alternateSection" class="mb-3">
        <label>Alternate Associate</label>
        <select asp-for="AlternateAssociate" class="form-control">
            <option value="">-- Select Associate --</option>
            @foreach (var item in ViewBag.AssociateList)
            {
                <option value="@item.AssociateId">
                    @item.AssociateName
                </option>
            }
        </select>
    </div>

   

    <div class="form-check mb-3">
        <input asp-for="Active" class="form-check-input" />
        <label class="form-check-label">Active</label>
    </div>

    <button type="submit" class="btn btn-success">Update</button>
</form>
@section Scripts {
    <script>
        function toggleAlternate() {
            var availability = document.getElementById("Availability").checked;
            var section = document.getElementById("alternateSection");

            if (availability) {
                section.style.display = "none";
            } else {
                section.style.display = "block";
            }
        }

        document.getElementById("Availability").addEventListener("change", toggleAlternate);

        // Run on page load
        window.onload = toggleAlternate;
    </script>
}

