@model List<ComplaintManagement.Util.Models.UserManagement.AssociateDto>
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Maintain Associates";
    Layout = "_Layout";
}

<h3>Associates List</h3>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AssociateName</td>
                <td>@item.Username</td>
                <td>@item.Active</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AssociateId"
                       class="btn btn-sm btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
