@model ComplaintManagement.UI.Models.RoleViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create Role";
    Layout = "_Layout";
}

<form method="post">
    <label>Role Name</label>
    <input asp-for="Name" class="form-control" />
    <button type="submit" class="btn btn-success mt-2">Save</button>
</form>