@model List<ComplaintManagement.UI.Models.RoleViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Roles List";
    Layout = "_Layout";
}

<a asp-controller="Roles" asp-action="Create" class="btn btn-primary mb-2">Create Role</a>

<table class="table table-bordered">
    <tr>
        <th>Role Name</th>
        <th>Action</th>
    </tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <a asp-controller="Roles" asp-action="Edit" asp-route-id="@role.Id">Edit</a>
            </td>
        </tr>
    }
</table>